--index-url https://download.pytorch.org/whl/cu121
--extra-index-url https://pypi.org/simple
torch
torchvision
torchaudio
numpy
mamba-ssm; platform_system!="Windows"
transformers
datasets
peft
accelerate
